# datasets
datasets/**/images/
datasets/**/*.zip

# images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp

# archives
*.zip
*.tar
*.tar.gz
*.rar
*.7z

# checkpoints
checkpoints/

# outputs
outputs/

# logs
logs/

# python
__pycache__/
*.pyc

# mac
.DS_Store

# notebook
.ipynb_checkpoints/

# env
venv/
.env

# claude
CLAUDE.md